In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Beginning_January_2018_2023_1.csv')

C:\Users\Diluksha Shamal\AppData\Local\Temp\ipykernel_1736\1798008265.py:1: DtypeWarning: Columns (11,13,57,86,93) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Beginning_January_2018_2023_1.csv')

In [3]:
df = pd.read_csv('Beginning_January_2018_2023_1.csv', low_memory=False)

In [4]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2023,1,1,22,7,2023-01-22,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2023,1,1,22,7,2023-01-22,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2023,1,1,22,7,2023-01-22,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2023,1,1,22,7,2023-01-22,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2023,1,1,22,7,2023-01-22,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [5]:
df['Unnamed: 119']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
573872   NaN
573873   NaN
573874   NaN
573875   NaN
573876   NaN
Name: Unnamed: 119, Length: 573877, dtype: float64

In [6]:
df['Unnamed: 119'].value_counts()

Series([], Name: count, dtype: int64)